.toolbox {
  top: 35px;
  left: 10px;
  width: 100px;
  min-height: 500px;
  font-size: 12px;
  border: 1px solid #000;
  overflow: hidden;
}
.toolbox .toolbox-caption {
  padding: 5px;
  border-bottom: 1px solid #000;
}
.toolbox .toolbox-body {
  padding: 5px;
}
.toolbox .toolbox-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #2f2f2f;
  text-align: center;
}
.toolbox .toolbox-icon.active {
  background-color: #3b97ec;
}
.select-box .select-display {
  width: 100px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #000;
  background-color: #4e4e4e;
}
.select-box .select-droplist {
  position: absolute;
}
body {
  margin: 0;
  background-color: #4e4e4e;
  color: #fff;
  cursor: default;
  overflow: hidden;
}
canvas {
  background-color: transparent;
}
.hide {
  display: none;
}
.absolute {
  position: absolute;
}
.vertical-align {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top {
  top: 0;
}
.left {
  left: 0;
}
.flex {
  display: flex;
  align-items: center;
}
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 28px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}
.header .menu-droplist {
  width: 100px;
  margin-top: 5px;
  border: 1px solid #2e2e2e;
  box-shadow: 1px 1px 2px 1px #000;
  background-color: #4e4e4e;
  z-index: 999999;
}
.header .menu-droplist .menu-item:hover {
  background-color: #3b97ec;
}
.main {
  position: absolute;
  top: 28px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  right: 200px;
}
.main .drawing-board {
  font-size: 0;
  box-shadow: 0 0 5px 1px #000;
}
.main .drawing-board .resize-box {
  position: absolute;
  border: 1px #fff dashed;
  transform: translate(0, 0);
}
.main .drawing-board .resize-box .resize-point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3b97ec;
}
.main .drawing-board .resize-box .rotate-point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ecc33b;
}
.main .drawing-board .resize-box .cut-point {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #ecc33b;
}
.main .drawing-board .resize-box .resize-lt {
  top: 0;
  left: 0;
  transform: translate(calc(10px / -2), calc(10px / -2));
  cursor: nwse-resize;
}
.main .drawing-board .resize-box .resize-t {
  top: 0;
  left: 50%;
  transform: translate(calc(10px / -2), calc(10px / -2));
  cursor: ns-resize;
}
.main .drawing-board .resize-box .resize-rt {
  top: 0;
  right: 0;
  transform: translate(calc(10px / 2), calc(10px / -2));
  cursor: nesw-resize;
}
.main .drawing-board .resize-box .resize-r {
  top: 50%;
  right: 0;
  transform: translate(calc(10px / 2), calc(10px / -2));
  cursor: ew-resize;
}
.main .drawing-board .resize-box .resize-rd {
  bottom: 0;
  right: 0;
  transform: translate(calc(10px / 2), calc(10px / 2));
  cursor: nwse-resize;
}
.main .drawing-board .resize-box .resize-d {
  bottom: 0;
  left: 50%;
  transform: translate(calc(10px / -2), calc(10px / 2));
  cursor: ns-resize;
}
.main .drawing-board .resize-box .resize-ld {
  bottom: 0;
  left: 0;
  transform: translate(calc(10px / -2), calc(10px / 2));
  cursor: nesw-resize;
}
.main .drawing-board .resize-box .resize-l {
  top: 50%;
  left: 0;
  transform: translate(calc(10px / -2), calc(10px / -2));
  cursor: ew-resize;
}
.main .drawing-board .resize-box .resize-rotate {
  top: -30px;
  left: 50%;
  transform: translate(calc(10px / -2), calc(10px / -2));
  cursor: cell;
}
.main .drawing-board .resize-box .resize-rotate::after {
  content: '';
  display: block;
  width: 1px;
  height: calc(30px - 10px);
  background-color: #fff;
  transform: translate(calc(10px / 2), 10px);
}
.main .drawing-board .resize-box .resize-t__cut {
  top: 0;
  left: 50%;
  transform: translate(calc(30px / -2), calc(10px / 2 + 5px));
}
.main .drawing-board .resize-box .resize-d__cut {
  bottom: 0;
  left: 50%;
  transform: translate(calc(30px / -2), calc(10px / -2 - 5px));
}
.main .drawing-board .resize-box .resize-l__cut {
  width: 2px;
  height: 30px;
  left: 0;
  top: 50%;
  transform: translate(calc(10px / 2 + 5px), calc(30px / -2));
}
.main .drawing-board .resize-box .resize-r__cut {
  width: 2px;
  height: 30px;
  right: 0;
  top: 50%;
  transform: translate(calc(10px / -2 - 5px), calc(30px / -2));
}
.info {
  position: absolute;
  top: 28px;
  bottom: 0;
  right: 0;
  width: 200px;
  border-left: 1px solid #000;
}
.info .layer-info {
  height: 500px;
  overflow-y: auto;
}
.info .layer-info .layer-item {
  padding: 5px 0 5px 0;
  border: 1px solid transparent;
}
.info .layer-info .layer-item.active .item-container {
  background-color: #3b97ec;
}
.info .layer-info .layer-item.border-top {
  border-top: 1px dashed #3b97ec;
}
.info .layer-info .layer-item.border-bottom {
  border-bottom: 1px dashed #3b97ec;
}
.info .layer-info .layer-item__title {
  flex: 1;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.context-menu {
  width: 120px;
  border: 1px solid #000;
  padding: 5px;
  background-color: #2f2f2f;
  box-shadow: 0 0 3px 1px #000;
  overflow: hidden;
  z-index: 99999;
}
.context-menu.active {
  opacity: 1;
  transition: opacity 0.5s;
}
.context-menu.disappear {
  opacity: 0;
  transition: opacity 0.2s;
}
.context-menu .contextmenu-item:hover {
  background-color: #3b97ec;
}
