.toolbox {
  top: 35px;
  left: 10px;
  width: 100px;
  min-height: 500px;
  font-size: 12px;
  border: 1px solid #000;
  overflow: hidden;
}
.toolbox .toolbox-caption {
  padding: 5px;
  border-bottom: 1px solid #000;
}
.toolbox .toolbox-body {
  padding: 5px;
}
.toolbox .toolbox-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #2f2f2f;
  text-align: center;
}
.toolbox .toolbox-icon.active {
  background-color: #3b97ec;
}
body {
  margin: 0;
  background-color: #4e4e4e;
  color: #fff;
  cursor: default;
  overflow: hidden;
}
canvas {
  background-color: transparent;
}
.hide {
  display: none;
}
.absolute {
  position: absolute;
}
.vertical-align {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top {
  top: 0;
}
.left {
  left: 0;
}
.flex {
  display: flex;
  align-items: center;
}
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 28px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}
.header .menu-droplist {
  width: 100px;
  margin-top: 5px;
  border: 1px solid #2e2e2e;
  box-shadow: 1px 1px 2px 1px #000;
  background-color: #4e4e4e;
  z-index: 999999;
}
.main {
  position: absolute;
  top: 28px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  right: 200px;
}
.main .drawing-board {
  font-size: 0;
  box-shadow: 0 0 5px 1px #000;
}
.main .drawing-board .resize-box {
  position: absolute;
  border: 1px #fff dashed;
  transform: translate(0, 0);
}
.main .drawing-board .resize-box .resize-point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3b97ec;
}
.main .drawing-board .resize-box .resize-lt {
  top: 0;
  left: 0;
  transform: translate(calc(10px / -2), calc(10px / -2));
  cursor: nwse-resize;
}
.main .drawing-board .resize-box .resize-t {
  top: 0;
  left: 50%;
  transform: translate(calc(10px / -2), calc(10px / -2));
  cursor: ns-resize;
}
.main .drawing-board .resize-box .resize-rt {
  top: 0;
  right: 0;
  transform: translate(calc(10px / 2), calc(10px / -2));
  cursor: nesw-resize;
}
.main .drawing-board .resize-box .resize-r {
  top: 50%;
  right: 0;
  transform: translate(calc(10px / 2), calc(10px / -2));
  cursor: ew-resize;
}
.main .drawing-board .resize-box .resize-rd {
  bottom: 0;
  right: 0;
  transform: translate(calc(10px / 2), calc(10px / 2));
  cursor: nwse-resize;
}
.main .drawing-board .resize-box .resize-d {
  bottom: 0;
  left: 50%;
  transform: translate(calc(10px / -2), calc(10px / 2));
  cursor: ns-resize;
}
.main .drawing-board .resize-box .resize-ld {
  bottom: 0;
  left: 0;
  transform: translate(calc(10px / -2), calc(10px / 2));
  cursor: nesw-resize;
}
.main .drawing-board .resize-box .resize-l {
  top: 50%;
  left: 0;
  transform: translate(calc(10px / -2), calc(10px / -2));
  cursor: ew-resize;
}
.info {
  position: absolute;
  top: 28px;
  bottom: 0;
  right: 0;
  width: 200px;
  border-left: 1px solid #000;
}
.info .layer-info {
  height: 500px;
  overflow-y: auto;
}
.info .layer-info .layer-item {
  margin: 10px 0 10px 5px;
}
.info .layer-info .layer-item.active {
  background-color: #3b97ec;
}
.info .layer-info .layer-item__title {
  flex: 1;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.context-menu {
  width: 120px;
  border: 1px solid #000;
  padding: 5px;
  background-color: #2f2f2f;
  box-shadow: 0 0 3px 1px #000;
  overflow: hidden;
  z-index: 99999;
}
.context-menu.active {
  opacity: 1;
  transition: opacity 0.5s;
}
.context-menu.disappear {
  opacity: 0;
  transition: opacity 0.2s;
}
